body{
font-family:Arial;
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:350px;
}

input{
width:100%;
padding:10px;
margin-bottom:10px;
}

button{
padding:10px;
background:#22c55e;
border:none;
color:white;
cursor:pointer;
}

li{
display:flex;
justify-content:space-between;
margin-top:10px;
background:#f1f5f9;
padding:8px;
}

.delete{
color:red;
cursor:pointer;
}