body{
font-family: Arial;
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:350px;
}

input{
width:100%;
padding:10px;
margin-bottom:20px;
border:1px solid #ccc;
border-radius:6px;
}

li{
list-style:none;
padding:8px;
border-bottom:1px solid #eee;
}