body{
font-family: Arial;
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.container{
background:#1e293b;
padding:40px;
border-radius:10px;
text-align:center;
width:400px;
}

button{
margin-top:20px;
padding:10px 20px;
border:none;
background:#22c55e;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#16a34a;
}